body {
	margin:0px;
	padding:0px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	color: #2c2e35;
}
p {
    margin: 0;
    font-size: 16px;
	color: #2c2e35;
}
.main-title {
    font-family: "Katibeh", serif;
    text-align: center;
    font-size: 100px;
    font-weight: 400;
    color: #2c2e35;
    margin: 0 0 50px;
}
.wrapper {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}

.head-shape img {
    width: 100%;
    display: block;
}

.inner-container {
    padding: 0 5%;
}

.head-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.head-main {
    padding-top: 50px;
}

.h-logo img {
    width: 100%;
    max-width: 300px;
}

.h-detials ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.h-detials ul li {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.h-detials ul li span {
    padding-left: 10px;
    color: #2c2e35;
    font-size: 16px;
}

.h-detials ul li img {
    width: 25px;
}

.certi-body {
    padding-top: 60px;
    background-image: url("../images/bg-shape.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom 50px center;
}

.bdy-sr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 40px;
}

.bdy-sr p {
    margin: 0;
    font-size: 16px;
}

.bdy-content p {
    font-size: 16px;
    line-height: 45px;
    margin: 0 0 25px;
}

.hghlt {
    margin: 150px 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
}

.hghlt-left h4 {
    margin: 0;
    font-size: 26px;
}

.hghlt-left h3 {
    margin: 90px 0 0;
    font-size: 28px;
}

.hghlt-right img {
    max-width: 210px;
}
.footer-shape img {
    width: 100%;
    display: block;
}

.footer-shape {
    margin-top: 110px;
}